# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
.venv/
venv/
ENV/
env/
*.env
*.venv

# pipenv
Pipfile.lock

# Poetry
poetry.lock

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IPython history
.profile_default/
ipython_config.py

# PyCharm
.idea/
*.iml

# VS Code
.vscode/

# Pytest
.cache/
.pytest_cache/

# MyPy
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Logs
*.log

# Jupyter Notebook output
*.nbconvert.ipynb

# System
.DS_Store
Thumbs.db

# TensorBoard logs
runs/

# PyTorch Lightning checkpoints
lightning_logs/

# Model files
*.pth
*.pt
*.h5

# Data files
*.csv
*.tsv
*.zip
*.tar.gz
*.hdf5
*.npz
*.npy

# Docker
*.pid

# Spyder
.spyderproject
.spyproject
